* {
    font-family: "微软雅黑"
}

.case-snapshot {
    width: 100%;
}

.glyphicon {
    cursor: pointer;
}
a.glyphicon {
    color: #000;
}

#mocha {
    margin: 0;
}
#mocha-stats {
    width: 300px;
}
#mocha-stats li {
    width: 100px;
}
#mocha ul, #mocha li {
    margin: 10px 0 0 0;
}
#mocha .progress {
    display: none;
}

/* Animatate */
.case-row.ng-enter, .case-row.ng-leave {
    -webkit-transition: 0.2s linear all;
            transition: 0.2s linear all;
}

.case-row.ng-leave.ng-leave-active {
    opacity:0;
}

.case-row.ng-enter.ng-enter-active {
    opacity:1;
}

.icon-transform:hover{
    transform: rotateY(0deg);
}

.icon-transform {
    -webkit-transition: all 1s;	/* Safari 和 Chrome */
       -moz-transition: all 1s;	/* Firefox 4 */
         -o-transition: all 1s;	/* Opera */
            transition: all 1s;

    transform: rotateY(180deg);
}

#modal-case .modal-body img {
    max-width: 100%;
}