<!DOCTYPE html>
<html lang="zh-cn" ng-app="reportServer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test-reporter</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="HomeController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Automation</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#/reportList" class="dropdown-toggle" data-toggle="dropdown">Test Tools<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://mochajs.org/" target="_blank">mocha</a></li>
                            <li><a href="https://github.com/diydyq/mocha" target="_blank">mochaRunnerExtend</a></li>
                            <li class="divider"></li>
                            <li><a href="https://github.com/diydyq/test-reporter" target="_blank">test-reporter</a></li>
                            <li><a href="https://github.com/diydyq/jello-command-test" target="_blank">jello-command-test</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#/reportList" class="dropdown-toggle" data-toggle="dropdown">AngularJS<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
                            <li><a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" ng-click="alert('You opened alert!', 'success')">alert</a></li>
                            <li><a href="javascript:void(0)" ng-click="closeJumbotron = !closeJumbotron">{{closeJumbotron ? "open" : "close"}}</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" ng-click="showDialog()">Show dialog</a></li>
                            <li><a href="javascript:void(0)" ng-click="showDialog('sm')">Show dialog SM</a></li>
                            <li><a href="javascript:void(0)" ng-click="showDialog('lg')">Show dialog LG</a></li>
                            <li class="divider"></li>
                            <li><a href="#/pagination/test">Pagination</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view class="view-frame">
    </div>


    <!-- UI Bootstrap components -->
    <div>
        <alert ng-show="showbox" type="{{showbox.type}}" close="closebox(this)">{{showbox.msg}}</alert>
    </div>

    <script src="bower_components/moment/moment.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- Use default templates -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/main.js"></script>

</body>
</html>