<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="username" class="col-sm-4 control-label">username</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="username" id="username" ng-model="username">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="btnSubmit()">OK</button>
    <button class="btn btn-warning" ng-click="btnCancel()">Cancel</button>
</div>