<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID({{beanList.totalCount}}/{{beanList.currentPage}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bean in beanList.data" ng-class="">
                        <td class="col-sm-1 text-center">
                            {{bean.id}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1">
                            <pagination ng-model="beanList.currentPage" total-items="beanList.totalCount" class="pagination-sm" ng-change="beanList.pageChanged()"></pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

