<div class="container">
    <div class="jumbotron" collapse="closeJumbotron">
        <h1>自动测试报告</h1>
        <p>
            <h4 class="row">
                <span class="col-sm-2">开始时间：</span>
                <span class="col-sm-10">{{testConf.summary.timeStartText}}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-2">结束时间：</span>
                <span class="col-sm-10">{{testConf.summary.timeEndText}}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-2">运行时间：</span>
                <span class="col-sm-10">{{testConf.summary.durationText}}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-2">运行环境：</span>
                <span class="col-sm-10">{{testConf.browsers.join(", ")}}</span>
            </h4>
        </p>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="sr-only" for="caseFilter">Search case:</label>
            <div class="col-sm-12">
                <input ng-model="caseFilter" ng-change="onCaseFilterChange()" type="text" class="form-control" id="caseFilter" name="caseFilter" placeholder="Search">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>URL</th>
                        <th class="text-center">Browser</th>
                        <th class="text-center">Suites</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Passed</th>
                        <th class="text-center">Pending</th>
                        <th class="text-center">Failed</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center">Report</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="case in testList | filter: caseFilter as cFilteredList" ng-class="{warning: cStat.failures > 0, 'case-row': true}" ng-init="cBrow = case.browserName; cRsut = case.result; cJson = cRsut.json; cStat = cJson.stats; cPage = cRsut.page">
                        <td class="col-sm-1 text-center">
                            <a href="#/reportList/{{cPage.name}}">{{$index+1}}</a>
                        </td>
                        <td class="col-sm-3">
                            <a class="case-url" href="{{cPage.name + testConf.summary.htmlType}}">{{case.url}}</a>
                        </td>
                        <td class="col-sm-1 text-center">{{cBrow}}</td>
                        <td class="col-sm-1 text-center">{{cStat.suites}}</td>
                        <td class="col-sm-1 text-center">{{cStat.tests}}</td>
                        <td class="col-sm-1 text-center">{{cStat.passes}}</td>
                        <td class="col-sm-1 text-center">{{cStat.pending}}</td>
                        <td class="col-sm-1 text-center">{{cStat.failures}}</td>
                        <td class="col-sm-1 text-center">{{cStat.duration}}</td>
                        <td class="col-sm-1 text-center">
                            <span class="icon-transform glyphicon glyphicon-list-alt" data-toggle="modal" data-target="#modal-case" ng-click="openReportDialog(case, $index, cPage)"></span>&nbsp;
                            <span class="icon-transform glyphicon glyphicon-picture" data-toggle="modal" data-target="#modal-case" ng-click="openSnapshotDialog(case, $index, cPage)"></span>&nbsp;
                            <a class="icon-transform glyphicon glyphicon-eye-open" href="{{case.http}}"></a>
                        </td>
                    </tr>
                </tbody>
                <tr ng-if="cFilteredList.length == 0" class="case-row">
                    <td colspan="11">None of them filtered.</td>
                </tr>
                <tr ng-hide="false" class="case-row">
                    <td>Filtered: {{cFilteredList2.length}}</td>
                    <!-- Open modal dialog -->
                    <td><a ng-click="showDialog('', this)">Show dialog</a></td>
                    <td><a ng-click="showCustomDialog()">Show custom dialog</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Dialog -->
<div class="modal fade" id="modal-case" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>