<div class="container">
    <div class="jumbotron">
        <h1>Test case</h1>
        <p>
            <h4 class="row">
                <span class="col-sm-4">$routeParams：</span>
                <span class="col-sm-8">{{params.caseName}}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-4">$route.current.templateUrl：</span>
                <span class="col-sm-8">{{$route.current.templateUrl }}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-4">$route.current.params：</span>
                <span class="col-sm-8">{{$route.current.params }}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-4">$route.current.controller：</span>
                <span class="col-sm-8">{{$route.current.controller}}</span>
            </h4>
            <h4 class="row">
                <span class="col-sm-4">caseParams.name：</span>
                <span class="col-sm-8">{{caseParams.name}}</span>
            </h4>
        </p>

    </div>
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</div>
